<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manager.name %>
</p>

<p>
  <b>Department:</b>
  <%= @manager.department %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
