<%= form_for(@event) do |f| %>
<%= render :partial => "shared/errors", :locals => {:model => @event} %>

<fieldset>
  
  <div class="required-fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :image_location, 'Image file' %>
      <%= f.text_field :image_location %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_area :location, :rows => 5 %>
    </div>
    <div class="field">
      <%= f.label :capacity %>
      <%= f.text_field :capacity %>
    </div>
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :starts_at %>
      <%= f.datetime_select :starts_at %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %> 
  </div>  
</fieldset>

<% end %>
