<table class="records show" cellpadding="0" cellspacing="0">
  <tr>
    <th colspan="2"><%= @event.name %></th>
  </tr>
  <tr>
    <td class="attribute">Description</td>
    <td><%= raw(@event.description) %></td>
  </tr>
  <tr>
    <td class="attribute">Image Location</td>
    <td><%= @event.image_location %></td>
  </tr>
  <tr>
    <td class="attribute">Location</td>
    <td><%= @event.location %></td>
  </tr>
  <tr>
    <td class="attribute">Capacity</td>
    <td><%= pluralize(@event.capacity, 'person') %></td>
  </tr>
  <tr>
    <td class="attribute">Price</td>
    <td><%= number_to_currency(@event.price) %></td>
  </tr>
  <tr>
    <td class="attribute">Starts</td>
    <td><%= @event.starts_at.to_s(:event_time) %></td>
  </tr>
</table>

<div class="link-menu">
  <%= link_to 'Review', new_event_review_url(@event) %> |
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Destroy', @event, 
              :confirm => 'Are you sure?', 
              :method => :delete %> |
  <%= link_to 'Back', events_path %>
</div>
