<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Reports to:</b>
  <%= @employee.reports_to %>
</p>

<p>
  <b>Department:</b>
  <%= @employee.department %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
