<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title || "Pragmatic Events" %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render 'layouts/header' %>
  <%= render 'layouts/flash', :flash => flash %>

  <div id="main-body">

    <div id="sidebar">
      <h1>Events</h1>
      <ul>  
        <li>
          <%= link_to raw("#{image_tag("/images/icons/date.png")} All Events"), events_path %>
        </li>
        <li>
          <%= link_to raw("#{image_tag("/images/icons/add.png")} New Event"),   new_event_path %>
        </li>
      </ul>
      
      <% unless @user_events.empty? %>
        <div id="events">
          <%= render "users/events", :events => @user_events %>
        </div>
      <% end %>
    </div> 

    <div id="content">
      <%= yield :layout %>
    </div>

  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
  